<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/style.css">
  <title>Adicionar Produto</title>
</head>
<body>
  <h1>Novo Produto</h1>
  <form action="/add" method="POST" enctype="multipart/form-data">
    <input type="text" name="nome" placeholder="Nome" required><br>
    <textarea name="descricao" placeholder="Descrição"></textarea><br>
    <input type="number" name="preco" placeholder="Preço" required step="0.01"><br>
    <input type="file" name="imagem" required><br>
    <button type="submit">Salvar</button>
  </form>
</body>
</html>
